<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <form action="/resgenfile" method="post">
        <h4>UG University</h4>
        <div class="row">

            <div class="col-3">
                <label for="q1_1">Department and Program:</label>
                <input type="text" name="q1_1_a" class="form-control" id="q1_1">
            </div>

            <div class="col-4">
                <label for="q1_2">Institute:</label>
                <input type="text" name="q1_2_a" class="form-control" id="q1_2">
            </div>

            <div class="col-2">
                <label for="q1_3">CGPA:</label>
                <input type="text" name="q1_3_a" class="form-control" id="q1_3">
            </div>

            <div class="col-2">
                <label for="q1_4">Year:</label>
                <input type="text" name="q1_4_a" class="form-control" id="q1_4">
            </div>

        </div>

        <br>

        <h4>College(11th and 12th)</h4>
        <div class="row">

            <div class="col-3">
                <label for="q2_1">Department and Program:</label>
                <input type="text" name="q2_1_a" class="form-control" id="q2_1">
            </div>

            <div class="col-4">
                <label for="q2_2">Institute:</label>
                <input type="text" name="q2_2_a" class="form-control" id="q2_2">
            </div>

            <div class="col-2">
                <label for="q2_3">CGPA:</label>
                <input type="text" name="q2_3_a" class="form-control" id="q2_3">
            </div>

            <div class="col-2">
                <label for="q2_4">Year:</label>
                <input type="text" name="q2_4_a" class="form-control" id="q2_4">
            </div>

        </div>

        <br>

        <h4>Schooling</h4>
        <div class="row">

            <div class="col-3">
                <label for="q3_1">Department and Program:</label>
                <input type="text" name="q3_1_a" class="form-control" id="q3_1">
            </div>

            <div class="col-4">
                <label for="q3_2">Institute:</label>
                <input type="text" name="q3_2_a" class="form-control" id="q3_2">
            </div>

            <div class="col-2">
                <label for="q3_3">CGPA:</label>
                <input type="text" name="q3_3_a" class="form-control" id="q3_3">
            </div>

            <div class="col-2">
                <label for="q3_4">Year:</label>
                <input type="text" name="q3_4_a" class="form-control" id="q3_4">
            </div>

        </div>

        <br>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>


</body>
</html>
